# Default ignored files🔅
/shelf/
/workspace.xml
# Datasource local storage ignored files🔅
/../../../../../../:\Users\Veronika.Timkina\IdeaProjects\first-test-pr-jb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests🔅
/httpRequests/
